Repository PoliticalSphere/political-sphere: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, detect-secrets, type-check, no-only-tests, validate-json, validate-yaml, actionlint, hadolint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix --max-warnings 0 {staged_files}
  stage_fixed: true

detect-secrets:
  run: "if grep -nE \"(password|secret|key|token).*=.*['\\\"][^'\\\"]{20,}\" {staged_files} 2>/dev/null; then\n  echo \"❌ Potential hardcoded secrets detected!\"\n  exit 1\nfi\n"

type-check:
  run: npx tsc --noEmit --skipLibCheck

no-only-tests:
  run: "if grep -nE \"(describe|it|test)\\\\.only\" {staged_files} 2>/dev/null; then\n  echo \"❌ .only() found in tests\"\n  exit 1\nfi\n"

validate-json:
  run: "for file in {staged_files}; do\n  jq empty \"$file\" 2>/dev/null || exit 1\ndone\n"

validate-yaml:
  run: "if command -v yamllint >/dev/null 2>&1; then\n  yamllint --strict {staged_files}\nfi\n"

actionlint:
  run: "if command -v actionlint >/dev/null 2>&1; then\n  actionlint {staged_files}\nfi\n"

hadolint:
  run: "if command -v hadolint >/dev/null 2>&1; then\n  hadolint {staged_files}\nfi\n"

refactor: clean up .devcontainer/ structure
  .devcontainer/Changelog
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/secrets/README.md
  .devcontainer/secrets/postgres_password.txt.example
  .gitignore
  docs/architecture/file-structure.md
Due: prettier, detect-secrets, validate-json, validate-yaml

fix: align devcontainer.json with Dev Container spec and best practices
  .devcontainer/devcontainer.json
Due: prettier, detect-secrets, validate-json

refactor(.github): reorganize and standardize GitHub configuration
  .devcontainer/secrets/README.md
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/deploy/tests/integration-tests.sh
  .github/actions/deploy/tests/test-runner.sh
  .github/scripts/generate-diagram.mjs
  .github/workflows/application-release.yml
  .github/workflows/build-and-test.yml
  .github/workflows/deploy-argocd.yml
  .github/workflows/iac-plan.yml
  .github/workflows/security-scan.yml
  .temp/migration-backup/HEAD.txt
  SECURITY.md
  docs/SUPPORT.md
  reports/structure-verification.json
  tools/scripts/verify-structure.mjs
Due: prettier, detect-secrets, validate-json, validate-yaml, actionlint

Potential fix for code scanning alert no. 55: Workflow does not contain permissions
  .github/workflows/health-check.yml
Due: prettier, detect-secrets, validate-yaml, actionlint

Update apps/api/src/server.ts
  apps/api/src/server.ts
Due: prettier, eslint, detect-secrets, type-check

Update apps/dev/scripts/seed-dev-data.ts
  apps/dev/scripts/seed-dev-data.ts
Due: prettier, eslint, detect-secrets, type-check

fix: replace simplistic email regex with Zod RFC 5322 validator (#89)
  apps/data-pipeline/src/transformers/normalize-user-data.ts
  apps/data-pipeline/tests/unit/transformers/normalize-user-data.test.ts
Due: prettier, eslint, detect-secrets, type-check, no-only-tests

refactor: eliminate direct store imports in test utilities via abstraction layer (#90)
  apps/api/src/test-support/database.ts
  apps/api/src/test-support/index.ts
  apps/api/tests/utils/test-helpers.js
Due: prettier, eslint, detect-secrets, type-check

fix(tests): correct import paths after repository reorganization
  apps/api/tests/domain/bill-service.test.mjs
  apps/api/tests/domain/party-service.test.mjs
  apps/api/tests/domain/vote-service.test.mjs
  apps/api/tests/unit/database-connection-cache.test.mjs
  apps/api/tests/unit/user-service.test.mjs
Due: none

security: sanitize origin header before logging to prevent log injection
  apps/api/src/app.js
Due: prettier, eslint, detect-secrets

fix(ci): add missing build script and correct web app paths
  package.json
Due: prettier, detect-secrets, validate-json

fix(ci): resolve CI failures and security recommendations
  .github/actions/deploy/action.yml
  .github/actions/quality-checks/action.yml
  .github/actions/setup-node-deps/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/application-release.yml
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/health-check.yml
  .github/workflows/scorecard.yml
  .github/workflows/test-setup-node-action.yml
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/validate-workflows.sh
Due: prettier, detect-secrets, validate-json, validate-yaml, actionlint

chore(ci): remove unused update-github-diagram workflow
  .github/workflows/update-github-diagram.yml
Due: prettier, detect-secrets, validate-yaml, actionlint

fix(ci): fix YAML syntax errors and scorecard workflow permissions
  .github/workflows/deploy-argocd.yml
  .github/workflows/scorecard.yml
  CHANGELOG.md
Due: prettier, detect-secrets, validate-yaml, actionlint

fix(deps): add @testing-library/dom dependency
  package-lock.json
  package.json
Due: prettier, detect-secrets, validate-json

ci(workflows): use npm ci --legacy-peer-deps across workflows; fix reusable workflow usage and secrets context; update CHANGELOG
  .github/workflows/application-release.yml
  .github/workflows/audit.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/deploy-argocd.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.yml
  .github/workflows/iac-plan.yml
  .github/workflows/lighthouse.yml
  .github/workflows/migrate.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-run-tests-action.yml
  .github/workflows/test-setup-node-action.yml
  .github/workflows/test.yml
  .github/workflows/vault-client.yml
  CHANGELOG.md
Due: prettier, detect-secrets, validate-yaml, actionlint

chore(docker): add --legacy-peer-deps to npm ci in service Dockerfiles
  apps/api/Dockerfile
  apps/game-server/Dockerfile
  apps/web/Dockerfile
  apps/worker/Dockerfile
Due: hadolint

chore(openapi,tooling): fix OpenAPI security schemes and allowlist example fields in env validator
  apps/api/openapi/api.yaml
  tools/scripts/validation/validate-environment.mjs
Due: prettier, detect-secrets, validate-yaml

chore(api): silence ESLint require-imports for CommonJS database export utility
  apps/api/src/utils/database-export-import.js
Due: prettier, eslint, detect-secrets

fix(lint): implement hybrid CommonJS/ESM strategy - Phase 1
  .lefthook.yml
  apps/api/src/middleware/auth.js
  apps/api/src/middleware/csrf.js
  apps/api/src/middleware/rate-limiter.js
  apps/api/src/middleware/request-id.js
  apps/api/src/middleware/validation.js
  apps/api/src/modules/ageVerificationService.js
  apps/api/src/modules/auth.js
  apps/api/src/modules/complianceService.js
  apps/api/src/modules/moderationService.js
  apps/api/src/modules/news-service.js
  apps/api/src/routes/ageVerification.js
  apps/api/src/routes/compliance.js
  apps/api/src/routes/moderation.js
  apps/api/src/routes/news.js
  apps/api/src/routes/parties.js
  apps/api/src/routes/users.js
  apps/api/src/stores/bill-store.js
  apps/api/src/stores/party-store.js
  apps/api/src/stores/user-store.js
  apps/api/src/stores/vote-store.js
  apps/api/src/utils/config.js
  apps/api/src/utils/database-backup.js
  apps/api/src/utils/database-connection-pool.js
  apps/api/src/utils/database-connection.js
  apps/api/src/utils/database-export-import.js
  apps/api/src/utils/database-performance-monitor.js
  apps/api/src/utils/database-seeder.js
  apps/api/src/utils/database-transactions.js
  apps/api/src/utils/http-utils.js
  apps/api/src/utils/log-sanitizer.js
  apps/api/src/utils/shared-shim.js
  apps/web/src/components/ReportContent.js
  apps/web/src/hooks/useAccessibility.js
  apps/web/src/hooks/useLocalStorage.js
  docs/TODO.md
  eslint.config.js
Due: prettier, eslint, detect-secrets, validate-yaml

chore(linting): Revert lefthook to strict mode and update docs
  .lefthook.yml
  CHANGELOG.md
  docs/TODO.md
Due: prettier, detect-secrets, validate-yaml

docs(todo): Update Phase 3 ESM migration tracker
  docs/TODO.md
Due: prettier

feat: comprehensive updates across multiple apps and libs
  app-audit/api/audit-results.json
  app-audit/feature-auth-remote/audit-results.json
  app-audit/feature-dashboard-remote/audit-results.json
  app-audit/game-server/audit-results.json
  app-audit/shell/audit-results.json
  app-audit/web/audit-results.json
  app-audit/worker/audit-results.json
  apps/api/tsconfig.json
  devcontainer-audit/devcontainer-audit-results.json
  devcontainer-audit/summary.txt
  devcontainer-audit/trivy-config.json
  docs/TODO.md
  docs/audit-trail/audit-log-2025-11-11.jsonl
  docs/audit-trail/audit-summary-2025-11-11.json
  docs/audit-trail/audit-summary-2025-11-11.md
  docs/audit-trail/audit-summary-2025-11-11.txt
  docs/audit-trail/openapi/audit-results-2025-11-11.json
  docs/audit-trail/openapi/audit-results-2025-11-12.json
  github-audit/github-audit-results.json
  github-audit/summary.txt
  vitest.config.js
Due: prettier, eslint, detect-secrets, validate-json

feat: comprehensive updates across multiple apps and libs
  apps/game-server/src/performance.ts
  apps/game-server/src/websocket/index.ts
  docs/TODO.md
  docs/audit-trail/openapi/audit-results-2025-11-12.json
Due: prettier, eslint, detect-secrets, type-check, validate-json

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yml,yaml}
  eslint: any of: *.{ts,tsx,js,jsx}
  detect-secrets: any of: *.{ts,tsx,js,jsx,json,yml,yaml,env,sh}
  type-check: any of: *.{ts,tsx}
  no-only-tests: any of: *.{test,spec}.{ts,tsx}
  validate-json: any of: *.json
  validate-yaml: any of: *.{yml,yaml}
  actionlint: any of: .github/workflows/*.{yml,yaml}
  hadolint: any of: **/Dockerfile*
